[Desktop Entry]
Version=1.0
Type=Application

Name=Plume Impactor
Comment=Feature rich iOS sideloading application
Categories=Utility;GTK;

Icon=com.khcrysalis.PlumeImpactor
Exec=plumeimpactor
Terminal=false
